.listing__wrapper {
  margin-top: calc($navbar-height + 4rem);
  margin-bottom: 12rem;
  display: flex;
  @include maxWidth(600px) {
    display: block;
  }
}

.listing__side {
  width: 30rem;
  @include maxWidth(600px) {
    width: 100%;
  }
  &-row {
    margin-bottom: 3rem;
    @include maxWidth(600px) {
      margin-bottom: 2rem;
    }
  }
  &-list {
    @include maxWidth(600px) {
      display: flex;

      justify-content: space-between;
    }
  }
  &-item {
    margin-bottom: 1.5rem;
    @include maxWidth(600px) {
      margin-bottom: 0;
    }
  }
  &-link {
    color: $black;
    text-decoration: none;
    font-size: 1.4rem;
  }
  &-color-selector {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    max-width: 15rem;
    @include maxWidth(600px) {
      max-width: 100%;
    }
  }

  &-size-selector {
    max-width: 15rem;
    @include flexBox(center, space-between);
    cursor: pointer;
  }
}

.listing__shop {
  flex-shrink: 1;
  width: 100%;
  &-header {
    @include flexBox(flex-end, space-between);
    margin-bottom: 4rem;
  }
  &-sort {
    width: 21rem;
    height: 4rem;
    border: 2px solid #e0e0e0;
    outline: none;
    border-radius: 100rem;
    font-size: 1.4rem;
    padding: 0 1rem;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 5rem;
  }
  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-item:hover &-modal {
    transform: translate(-50%, 100%);
    opacity: 1;
  }

  &-media {
    position: relative;
    overflow: hidden;
  }

  &-item {
    color: $black;
    text-decoration: none;
    position: relative;
    &.onsale {
      &::after {
        content: "Sale";
        position: absolute;
        padding: 0.2rem 0.5rem;
        top: 2rem;
        right: 2rem;
        width: 5rem;
        height: 2.5rem;
        background-color: #d4000091;
        @include flexBox(center, center);
        border-radius: 100rem;
        color: #fff;
        font-size: 1.4rem;
        @include maxWidth(600px) {
          font-size: 1rem;
          top: 1rem;
          right: 1rem;
          width: 3rem;
          height: 1.5rem;
        }
      }
    }
  }

  &-modal {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 300%);
    bottom: 5rem;
    background-color: #fff;
    width: 14rem;
    height: 4rem;
    border-radius: 100rem;
    font-size: 1.4rem;
    cursor: pointer;
    opacity: 0;
    @include flexBox(center, center);
    @include linearTransition(0.25s);
    & i {
      margin-left: 1rem;
    }
  }
}

.listing__shop-pagi {
  @include flexBox(center);
  & * {
    margin-right: 3rem;
    font-size: 1.6rem;
    cursor: pointer;
  }

  &-page.active {
    width: 4rem;
    height: 4rem;
    // display: inline-block;
    @include flexBox(center, center);
    background-color: #f2f2f2;
    border-radius: 100rem;
    margin-right: 2rem;
  }
}
