<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../app/styles.css">
    <title>About</title>
</head>
<body>
    <header class="header ">
           
        <div class="header__wrapper container">
            <a href="home.html" class="header__logo">NORDIC CODER</a>
        <ul class="header__list">
            <li class="header__item ">
                <a href="home.html" class="header__link">Home</a>
            </li>
            <li class="header__item">
                <a href="listing.html" class="header__link">Shop</a>
            </li>
            <li class="header__item">
                <a href="listing.html" class="header__link">Sale</a>
            </li>
            <li class="header__item">
                <a href="login.html" class="header__link">Login</a>
            </li>
            <li class="header__item active">
                <a href="about.html" class="header__link">About</a>
            </li>
            <li class="header__item ">
                <a href="contact.html" class="header__link">Contact</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__link">
                    <i class="header__cart-icon fas fa-shopping-cart">
                    <div class="header__modal-wrapper">
                        <div class="header__modal-list">
                            <div class="header__modal-item">
                                <div class="header__modal-media">
                                    <img src="../app/img/detail3.png" alt="" class="header__modal-img">
                                </div>
                                <div class="header__modal-info">
                                    <p class="header__modal-name">Julia</p>
                                    <div class="header__modal-color">Black</div>
                                    <span class="header__modal-price">$249.00</span>
                                </div>
                                <i class="header__modal-close fas fa-times"></i>
                            </div>
                            <div class="header__modal-item">
                                <div class="header__modal-media">
                                    <img src="../app/img/detail3.png" alt="" class="header__modal-img">
                                </div>
                                <div class="header__modal-info">
                                    <p class="header__modal-name">Julia</p>
                                    <div class="header__modal-color">Black</div>
                                    <span class="header__modal-price">$249.00</span>
                                </div>
                                <i class="header__modal-close fas fa-times"></i>
                            </div>
                            <div class="header__modal-item">
                                <div class="header__modal-media">
                                    <img src="../app/img/detail3.png" alt="" class="header__modal-img">
                                </div>
                                <div class="header__modal-info">
                                    <p class="header__modal-name">Julia</p>
                                    <div class="header__modal-color">Black</div>
                                    <span class="header__modal-price">$249.00</span>
                                </div>
                                <i class="header__modal-close fas fa-times"></i>
                            </div>
                            <div class="header__modal-item">
                                <div class="header__modal-media">
                                    <img src="../app/img/detail3.png" alt="" class="header__modal-img">
                                </div>
                                <div class="header__modal-info">
                                    <p class="header__modal-name">Julia</p>
                                    <div class="header__modal-color">Black</div>
                                    <span class="header__modal-price">$249.00</span>
                                </div>
                                <i class="header__modal-close fas fa-times"></i>
                            </div>
                            <div class="header__modal-item">
                                <div class="header__modal-media">
                                    <img src="../app/img/detail3.png" alt="" class="header__modal-img">
                                </div>
                                <div class="header__modal-info">
                                    <p class="header__modal-name">Julia</p>
                                    <div class="header__modal-color">Black</div>
                                    <span class="header__modal-price">$249.00</span>
                                </div>
                                <i class="header__modal-close fas fa-times"></i>
                            </div>
                            <div class="header__modal-item">
                                <div class="header__modal-media">
                                    <img src="../app/img/detail3.png" alt="" class="header__modal-img">
                                </div>
                                <div class="header__modal-info">
                                    <p class="header__modal-name">Julia</p>
                                    <div class="header__modal-color">Black</div>
                                    <span class="header__modal-price">$249.00</span>
                                </div>
                                <i class="header__modal-close fas fa-times"></i>
                            </div>
                            <div class="header__modal-item">
                                <div class="header__modal-media">
                                    <img src="../app/img/detail3.png" alt="" class="header__modal-img">
                                </div>
                                <div class="header__modal-info">
                                    <p class="header__modal-name">Julia</p>
                                    <div class="header__modal-color">Black</div>
                                    <span class="header__modal-price">$249.00</span>
                                </div>
                                <i class="header__modal-close fas fa-times"></i>
                            </div>
                        </div>

                        <button  class="header__modal-all">All</button>
                    </div>
                </i>
                </a>
            </li>
        </ul>
        </div>
    
    </header>
    <div class="main">
        <section class="about__hero">
            <div class="hero-header__wrapper">
                <img src="../app/img/about.png" alt="" class="hero-header__bg">
                <span class="hero-header__slogan about__hero-slogan">This is Nordic</span>
            </div>
        </section>

       <div class="about__wrapper container">
            <section class="about__info">
                <p class="about__info-heading text-center">Amazing designs & collaborations, and as always 100% Organic & Fairtrade certified cotton. Inspired by the georgious Brasilian bucket, a wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which.</p>
                <div class="about__state">
                    <div class="about__state-item">
                        <p class="about__state-heading">Vision</p>  
                        <p class="about__state-desc">No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences.</p>
                        <span class="about__state-author">Anna Wintour</span>  
                    </div>
                    <div class="about__state-item">
                        <p class="about__state-heading">Mission</p>  
                        <p class="about__state-desc">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                        <span class="about__state-author">Coco Chanel</span>  
                    </div>
                </div>
            </section>
        </div>
            <section class="about__number ">
                <p class="title text-center">Some numbers about us</p>
                <div class="about__number-list container">
                    <div class="about__number-item">
                        <p class="about__number-desc">Established<span class="title">2018</span>in New York</p>
                    </div>
                    <div class="about__number-item">
                        <p class="about__number-desc">Employees<span class="title">120 +</span>and counting</p>
                    </div>
                    <div class="about__number-item">
                        <p class="about__number-desc">Brands<span class="title">2500 +</span>and growing</p>
                    </div>
                    <div class="about__number-item">
                        <p class="about__number-desc">Orders<span class="title">2500 +</span>each day</p>
                    </div>
                </div>
            </section>
            <section class="about__different">
                <div class="about__different-media">
                    <img src="../app/img/about1.png" alt="" class="about__different-img">
                </div>
                <div class="about__different-info">
                    <p class="sub-title-big">Creating a different shopping experience since 2018</p>
                    <p class="body-desc">Want to get in touch with us? A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which.</p>
                    <a href="#" class="about__different-link">Contact us <i class="fas fa-arrow-right"></i></a>
                </div>
            </section>
            <section class="about__why">
                <p class="title text-center">Why shop with Nordic</p>
                <div class="about__why-list container">
                    <div class="about__why-item">
                        <i class="fas fa-shopping-cart"></i>
                        <p class="about__why-desc body-desc">Free International Shipping</p>
                        <span class="about__why-grey">On all orders over $100.00</span>
                    </div>
                    <div class="about__why-item">
                        <i class="fas fa-undo-alt"></i>
                        <p class="about__why-desc body-desc">45 Days Return</p>
                        <span class="about__why-grey">Money back guarantee</span>
                    </div>
                    <div class="about__why-item">
                        <i class="fas fa-lock"></i>
                        <p class="about__why-desc body-desc">Secure Checkout</p>
                        <span class="about__why-grey">100% secured checkout process</span>
                    </div>
            </section>
    </div>
<footer class="footer ">
        <div class="footer__list container">
            <div class="footer__item">
                <p class="footer__heading">About us</p>
                <ul class="footer__link-list">
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Our company
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Our history
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Contact
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Jobs
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Journal
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Store Locations
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__item">
                <p class="footer__heading">How can we help</p>
                <ul class="footer__link-list">
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            FAQs
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Order tracking
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Terms & Conditions
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Privacy Policy
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Returns & Refunds
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Support
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__item">
                <p class="footer__heading">Shop</p>
                <ul class="footer__link-list">
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Tops
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Accessories
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Jeans
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Jackets
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Shoes
                        </a>
                    </li>
                    
                </ul>
            </div>
            <div class="footer__item">
                <p class="footer__heading">Security system</p>
                <ul class="footer__link-list">
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
<i class="fas fa-check-circle"></i>
                            PCI security standards
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
<i class="fas fa-check-circle"></i>
                            Protect card owner
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
<i class="fas fa-check-circle"></i>
                            Encrypted network
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <p class="footer__copyright container">Copyright © 2020 Nordic Coder. All rights reserved.</p>
    </footer>
    <div class="totop">
        <i class="totop-icon fas fa-arrow-up"></i>
    
    </div>
    <script src="../app/js/main.js"></script>
</body>
</html>