<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../app/styles.css">
    <title>Detail</title>
</head>
<body>
    <header class="header ">
           
        <div class="header__wrapper container">
            <a href="home.html" class="header__logo">NORDIC CODER</a>
        <ul class="header__list">
            <li class="header__item ">
                <a href="home.html" class="header__link">Home</a>
            </li>
            <li class="header__item active">
                <a href="listing.html" class="header__link">Shop</a>
            </li>
            <li class="header__item">
                <a href="listing.html" class="header__link">Sale</a>
            </li>
            <li class="header__item">
                <a href="login.html" class="header__link">Login</a>
            </li>
            <li class="header__item">
                <a href="about.html" class="header__link">About</a>
            </li>
            <li class="header__item ">
                <a href="contact.html" class="header__link">Contact</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__link">
                    <i class="header__cart-icon fas fa-shopping-cart">
                    <div class="header__modal-wrapper">
                        <div class="header__modal-list">
                            <div class="header__modal-item">
                                <div class="header__modal-media">
                                    <img src="../app/img/detail3.png" alt="" class="header__modal-img">
                                </div>
                                <div class="header__modal-info">
                                    <p class="header__modal-name">Julia</p>
                                    <div class="header__modal-color">Black</div>
                                    <span class="header__modal-price">$249.00</span>
                                </div>
                                <i class="header__modal-close fas fa-times"></i>
                            </div>
                            <div class="header__modal-item">
                                <div class="header__modal-media">
                                    <img src="../app/img/detail3.png" alt="" class="header__modal-img">
                                </div>
                                <div class="header__modal-info">
                                    <p class="header__modal-name">Julia</p>
                                    <div class="header__modal-color">Black</div>
                                    <span class="header__modal-price">$249.00</span>
                                </div>
                                <i class="header__modal-close fas fa-times"></i>
                            </div>
                            <div class="header__modal-item">
                                <div class="header__modal-media">
                                    <img src="../app/img/detail3.png" alt="" class="header__modal-img">
                                </div>
                                <div class="header__modal-info">
                                    <p class="header__modal-name">Julia</p>
                                    <div class="header__modal-color">Black</div>
                                    <span class="header__modal-price">$249.00</span>
                                </div>
                                <i class="header__modal-close fas fa-times"></i>
                            </div>
                            <div class="header__modal-item">
                                <div class="header__modal-media">
                                    <img src="../app/img/detail3.png" alt="" class="header__modal-img">
                                </div>
                                <div class="header__modal-info">
                                    <p class="header__modal-name">Julia</p>
                                    <div class="header__modal-color">Black</div>
                                    <span class="header__modal-price">$249.00</span>
                                </div>
                                <i class="header__modal-close fas fa-times"></i>
                            </div>
                            <div class="header__modal-item">
                                <div class="header__modal-media">
                                    <img src="../app/img/detail3.png" alt="" class="header__modal-img">
                                </div>
                                <div class="header__modal-info">
                                    <p class="header__modal-name">Julia</p>
                                    <div class="header__modal-color">Black</div>
                                    <span class="header__modal-price">$249.00</span>
                                </div>
                                <i class="header__modal-close fas fa-times"></i>
                            </div>
                            <div class="header__modal-item">
                                <div class="header__modal-media">
                                    <img src="../app/img/detail3.png" alt="" class="header__modal-img">
                                </div>
                                <div class="header__modal-info">
                                    <p class="header__modal-name">Julia</p>
                                    <div class="header__modal-color">Black</div>
                                    <span class="header__modal-price">$249.00</span>
                                </div>
                                <i class="header__modal-close fas fa-times"></i>
                            </div>
                            <div class="header__modal-item">
                                <div class="header__modal-media">
                                    <img src="../app/img/detail3.png" alt="" class="header__modal-img">
                                </div>
                                <div class="header__modal-info">
                                    <p class="header__modal-name">Julia</p>
                                    <div class="header__modal-color">Black</div>
                                    <span class="header__modal-price">$249.00</span>
                                </div>
                                <i class="header__modal-close fas fa-times"></i>
                            </div>
                        </div>

                        <button  class="header__modal-all">All</button>
                    </div>
                </i>
                </a>
            </li>
        </ul>
        </div>
    
    </header>

    <section class="main container" style="display: block;">
        <section class="detail__show">
            <div class="detail__small-img-list">
                <img src="../app/img/detail.png" alt="" class="detail__smail-img-item">
                <img src="../app/img/detail1.png" alt="" class="detail__smail-img-item">
                <img src="../app/img/detail2.png" alt="" class="detail__smail-img-item">
                <img src="../app/img/detail3.png" alt="" class="detail__smail-img-item active">
            </div>
            <div class="detail__main-img">
                <img src="../app/img/detail4.jpg" alt="">
            </div>
            <div class="detail__info">
                <div class="detail__breadcum">
                    <div class="detail__item">Home<i class="fas fa-arrow-right"></i></div>
                    <div class="detail__item">Jacket<i class="fas fa-arrow-right"></i></div>
                    <div class="detail__item">Julia</div>
                </div>
                <h2 class="title">Julia</h2>
                <p class="detail__price">$249.00</p>
                <div class="detail__color">
                    <p class="category__heading">Color</p>
                    <div class="detail__color-list">
                        <span class="select-color active" data-color="black"></span>
                        <span class="select-color" data-color="grey"></span>
                        <span class="select-color" data-color="red"></span>
                    </div>
                </div>
                <span class="detail__size">
                    <p class="category__heading">Size</p>
                    <div class="detail__size-list">
                        <span class="select-size ">XS</span>
                        <span class="select-size active">S</span>
                        <span class="select-size ">M</span>
                        <span class="select-size ">L</span>
                    </div>
                </span>
                <div class="detail__toclick">
                    <div class="detail__quantity">
                        <i class="detail__quantity-less fas fa-minus"></i>
                        <span class="detail__quantity-number">1</span>
                        <i class="detail__quantity-more fas fa-plus"></i>
                    </div>
                    <div class="detail__add">
                        <span class="detail__add-desc">Add to cart</span>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                    <div class="detail__favorite">
                        <i class="detail__favorite-icon far fa-heart"></i>
                    </div>
                </div>
                <div class="detail__code">SKU: 86423-AB</div>
                <div class="detail__type">Category: <span>Jacket</span></div>
                <ul class="detail__social-list">
                   <p class="category__heading" style="margin-bottom: 0px;">Share</p>
                    <li class="detail__social-item">
                        <a href="#" class="detail__social-link">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="detail__social-item">
                        <a href="#" class="detail__social-link">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="detail__social-item">
                        <a href="#" class="detail__social-link">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li class="detail__social-item">
                        <a href="#" class="detail__social-link">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="detail__desc">
            <header class="detail__desc-header">
                <span class="detail__header-item active" data-headerItem="1">
                    Description
                </span><span class="detail__header-item" data-headerItem="2">
                    Additional information
                </span>
                <span class="detail__header-item" data-headerItem="3">
                    Reviews (1)
                </span>
            </header>
            <div class="detail__desc-content">
                <div class="desc__content-item">
                    <div class="sub-title">
                        CONTENT & CARE
                    </div>
                    <ul class="desc__content-list">
                        <li class="desc__content-smallitem">Nylon, Metallic, Spandex</li>
                        <li class="desc__content-smallitem">Imported</li>
                        <li class="desc__content-smallitem">Dry Flat</li>
                    </ul>
                </div>
                <div class="desc__content-item">
                    <div class="sub-title">
                        DETAILS & FIT
                    </div>
                    <ul class="desc__content-list">
                        <li class="desc__content-smallitem">Length: 32"</li>
                        <li class="desc__content-smallitem">Measured in size Small</li>
                    </ul>
                </div>
                <p class="desc__content-desc">Red modeled on size Small.</p>
                <p class="desc__content-desc">Model’s profile: height 5'7", bust 32", waist 25”</p>
            </div>
        </section>
        <section class="detail__related">
            <p class="title">Related Products</p>
            <div class="detail__related-list">
                <a href="#" class="detail__related-item">
                    <div class="detail__related-media">
                        <img src="../app/img/related.png" alt="" class="detail__related-img">
                    </div>
                    <div class="product-name detail__related-name">Julia</div>
                    <div class="price">
                        <span class="new-price">€99.00</span>
                        <span class="old-price">€119.00</span>
                    </div>
                    
                </a>
                <a href="#" class="detail__related-item">
                    <div class="detail__related-media">
                        <img src="../app/img/related1.png" alt="" class="detail__related-img">
                    </div>
                    <div class="product-name detail__related-name">Julia</div>
                      <div class="price">
                        <span class="new-price">€99.00</span>
                        <span class="old-price">€119.00</span>
                    </div>
                    
                </a>
                <a href="#" class="detail__related-item">
                    <div class="detail__related-media">
                        <img src="../app/img/related2.png" alt="" class="detail__related-img">
                    </div>
                    <div class="product-name detail__related-name">Julia</div>
                      <div class="price">
                        <span class="new-price">€99.00</span>
                        <span class="old-price">€119.00</span>
                    </div>
                    
                </a>
                <a href="#" class="detail__related-item">
                    <div class="detail__related-media">
                        <img src="../app/img/related3.png" alt="" class="detail__related-img">
                    </div>
                    <div class="product-name detail__related-name">Julia</div>
                      <div class="price">
                        <span class="new-price">€99.00</span>
                        <span class="old-price">€119.00</span>
                    </div>
                    
                </a>
            </div>
        </section>
    </section>

    <footer class="footer ">
        <div class="footer__list container">
            <div class="footer__item">
                <p class="footer__heading">About us</p>
                <ul class="footer__link-list">
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Our company
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Our history
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Contact
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Jobs
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Journal
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Store Locations
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__item">
                <p class="footer__heading">How can we help</p>
                <ul class="footer__link-list">
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            FAQs
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Order tracking
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Terms & Conditions
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Privacy Policy
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Returns & Refunds
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Support
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__item">
                <p class="footer__heading">Shop</p>
                <ul class="footer__link-list">
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Tops
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Accessories
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Jeans
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Jackets
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
                            Shoes
                        </a>
                    </li>
                    
                </ul>
            </div>
            <div class="footer__item">
                <p class="footer__heading">Security system</p>
                <ul class="footer__link-list">
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
<i class="fas fa-check-circle"></i>
                            PCI security standards
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
<i class="fas fa-check-circle"></i>
                            Protect card owner
                        </a>
                    </li>
                    <li class="footer__link-item">
                        <a href="#" class="footer__link">
<i class="fas fa-check-circle"></i>
                            Encrypted network
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <p class="footer__copyright container">Copyright © 2020 Nordic Coder. All rights reserved.</p>
    </footer>
    <div class="totop">
        <i class="totop-icon fas fa-arrow-up"></i>
    
    </div>
<script src="../app/js/main.js"></script>

</body>

</html>